.mat-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 200px;
  border-right: none;
  padding: 16px 0;
}

.content {
  height: calc(100svh - 98px);
  border-radius: 10px;
  padding: 16px;
  max-width: 1520px;
  margin: 0 auto;
  font-size: 16px;
  background: #fff;
}

mat-sidenav-container {
  height: calc(100svh - 65px);
}

mat-toolbar {
  background-color: #FF8C00 !important; /* Color de fondo de la barra */
}

mat-icon {
  color: white !important; /* Asegura que todos los íconos dentro del toolbar sean blancos */
}

a[mat-button] {
  margin-left: 20px;
  color: white !important; /* Color blanco para el botón "Mascotas", etc. */
}

app-language-switcher {
  color: white !important; /* Asegura que el selector de idioma también esté en blanco */
}

button[mat-icon-button] {
  color: white !important; /* Asegura que el ícono del menú (hamburguesa) sea blanco */
}

/* Estilo de las opciones dentro del sidenav */
.mat-list-item {
  color: white; /* Texto blanco para las opciones del sidenav */
  padding: 10px 20px; /* Espaciado en las opciones */
  display: flex;
  align-items: center;
  border-radius: 5px; /* Bordes suaves en las opciones */
}

/* Efecto hover para las opciones */
.mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Ligera variación al pasar el mouse */
}

/* Estilo de los iconos dentro del sidenav */
.mat-list-item mat-icon {
  color: white; /* Asegura que los iconos sean blancos */
  margin-right: 10px; /* Separación entre el icono y el texto */
}

/* Iconos dentro del sidenav (cuando la opción tiene imagen en lugar de icono) */
.mat-list-item img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

/* Efecto hover cuando el item tiene una imagen como ícono */
.mat-list-item:hover img {
  opacity: 0.7;
}

/* Estilo para el logo */
mat-toolbar img {
  height: 40px;
  margin-left: 10px;
}

mat-sidenav-content {
  padding: 16px;
}

/* Iconos dentro del sidenav */
.mat-list-item mat-icon {
  color: white; /* Aseguramos que los iconos sean blancos */
}

/* Asegurarse que el sidenav no tenga bordes */
mat-sidenav {
  border-radius: 0; /* Eliminar bordes curvados */
}
