
<h2>{{ 'ADOPTION_MANAGEMENT.title' | translate }}</h2>

<div class="filter-container">
  <label for="statusFilterDropdown">{{ 'ADOPTION_MANAGEMENT.filter.title' | translate }}</label>
  <div class="status-dropdown-wrapper">
    <select id="statusFilterDropdown" class="status-dropdown" [(ngModel)]="statusFilter">
      <option value="todos">{{ 'ADOPTION_MANAGEMENT.filter.all' | translate }}</option>
      <option value="pendiente">{{ 'ADOPTION_MANAGEMENT.filter.pending' | translate }}</option>
      <option value="aceptada">{{ 'ADOPTION_MANAGEMENT.filter.accepted' | translate }}</option>
      <option value="rechazada">{{ 'ADOPTION_MANAGEMENT.filter.rejected' | translate }}</option>
    </select>
  </div>
</div>

<div *ngIf="isLoading" class="spinner">{{ 'ADOPTION_MANAGEMENT.loading' | translate }}</div>

<app-adoption-detail *ngFor="let req of filteredRequests" [request]="req"></app-adoption-detail>
